@page
@model APORG_v4.Pages.Objects.TESTModel
@{
    ViewData["Title"] = "TEST";
}

<h2>TEST</h2>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Habababa</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Bababa</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>

